<h1>Receta</h1>

<h1><%= @recipe.title %></h1>

<p><%= @recipe.description %></p>

<%= render @recipe.ingredients %>

<ul>
  <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
  <li><%= link_to "Eliminar", recipe_path(@recipe), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Esta seguro?"
                  } %></li>
</ul>

<h2>Agregar ingrediente:</h2>
<%= render "ingredients/form" %>